<style>
  .bring-down{
      margin-top:110px;
  }
  .make-bold{
    font-weight:bold;

  }
  
</style>
<p class="bg-Dark"></p>

<div id="about" class="mt-4 pb-5 container-fluid">
    <div class="post-heading text-center">
        <h3 class="display-4 font-weight-bold bring-down"> </h3>
        <p class="bg-Dark">About Me!</p>
        <hr class="w-50 mx-auto pb-5">
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <img src="assets/img/Jimm.JPG" class="img-fluid mx-7 mx-7">
        </div>

        <div class="col-lg-6 col-md-6 col-12 mt-7">
            <hr>
            <p class="make-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit at quas soluta, aliquam quo iste tenetur voluptas adipisci voluptate facilis aperiam, reprehenderit ut tempora vel exercitationem! Sapiente voluptas vero blanditiis!.
            </p>

          
        </div>
    </div>




</div>