<style>
    .card{
        margin-left:100px;
        margin-top:100px;
    }
</style>
<div class="row">
<div class="card" style="width: 18rem;">
    <img src="assets/img/Angular.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Angular</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/AI.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Artificual intellegence</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/Java.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Java</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/Ph.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Python</p>
    </div>
  </div>
  
</div>