<style>
    .card{
        margin-left:20px;
        margin-top:20px;
    }
</style>
<div class="row">
<div class="card" style="width: 18rem;">
    <img src="assets/img/gym.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Gymnastics</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/Z.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Development</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/C.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Gaming</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/n.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Working </p>
    </div>
  
 
  </div>

</div>